body {
	background: linear-gradient(29deg, rgb(142, 137, 241) 0%, rgba(0,241,255,1) 100%);
}

h1 {
	display: block;
	text-align: center;
	font-size: 4em;
}

.wrapper {
	display: flex;
	text-align: center;
	align-items: center;
	clear: both;
}

.wrapper img {
	flex: 1;
	width: 300px;
	padding:25px;
}

.wrapper p {
	flex: 1;
	display: block;
	padding: 25px;
}

h2 {
	color: rgb(49, 49, 49);
}

ul {
	color: rgb(49, 49, 49);
	text-align: center;
	list-style-type: none;
}